<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
</div>
<strong>Copyright &copy; 2014-2017 <a href="https://www.kalande.com.cn">kalande</a>.</strong> All rights reserved.
    <script type="text/javascript" th:src="@{/bower_components/angular-1.5.8/angular.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/angular-1.5.8/angular-ui-router.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/adminlte.min.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/bootstrap-fileInput-4.3.2/js/plugins/canvas-to-blob.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/bootstrap-fileInput-4.3.2/js/fileinput.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/bootstrap-fileInput-4.3.2/js/locales/zh.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/select2-4.0.6-rc.1/dist/js/select2.full.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/bootstrap-treeview/js/bootstrap-treeview.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/bootstrap-validator/dist/js/bootstrap-validator.js}"></script>
    <script type="text/javascript" th:src="@{/bower_components/modal/base-modal.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/common/init.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/common/public.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/common/urlConfig.js}"></script>
</div>