<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery-jvectormap.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-fileInput-4.3.2/css/fileinput.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/select2-4.0.6-rc.1/dist/css/select2.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-treeview/css/bootstrap-treeview.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-validator/dist/css/bootstrap-validator.css}"/>
    <script type="text/javascript" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
</head>
</html>