<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.kalande.mapper.ProductCategoriesMapper">
    <resultMap id="BaseResultMap" type="com.business.kalande.entity.ProductCategories">
        <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="categoryEnum" property="categoryEnum" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="imageUrl" property="imageUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="showIndex" property="showIndex" javaType="java.lang.Boolean" jdbcType="BIT" />
        <result column="orderBy" property="orderBy" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="isDeleted" property="isDeleted" javaType="java.lang.Boolean" jdbcType="BIT" />
        <result column="createTime" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        id,categoryEnum, name,imageUrl,showIndex,OrderBy,IsDeleted,createTime
    </sql>
    <!--分页查询-->
    <select id="listByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from productCategories WHERE IsDeleted=0
    </select>
    <!--查询-->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT * from productCategories
        where Id = #{id,jdbcType=INTEGER} and IsDeleted=0
    </select>
    <!--产品分类新增-->
    <insert id="add" parameterType="com.business.kalande.entity.ProductCategories" >
        insert into productCategories (categoryEnum, name,imageUrl,showIndex,
        OrderBy,IsDeleted,createTime)
        values (#{categoryEnum,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR},#{imageUrl,jdbcType=NVARCHAR} ,
        #{showIndex,jdbcType=BIT}, #{orderBy,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER},GETDATE())
    </insert>
    <!--产品分类编辑-->
    <update id="update" parameterType="com.business.kalande.entity.ProductCategories" >
        update productCategories
        set
        categoryEnum = #{categoryEnum,jdbcType=INTEGER},
        name = #{name,jdbcType=NVARCHAR},
        imageUrl = #{imageUrl,jdbcType=NVARCHAR},
        showIndex = #{showIndex,jdbcType=BIT},
        orderBy = #{orderBy,jdbcType=INTEGER},
        isDeleted = #{isDeleted,jdbcType=INTEGER}
        where Id = #{id,jdbcType=INTEGER}
        and  isDeleted= 0
    </update>

    <!--产品分类删除-->
    <update id="delete" parameterType="java.lang.Integer" >
        update productCategories
        set
        isDeleted = 1
        where Id = #{id,jdbcType=INTEGER}
        and  isDeleted= 0
    </update>
</mapper>